
#app {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #39c29c;
    background-image: radial-gradient(#80ffdc, #02694c);
    overflow: hidden;
}

.cell {
    height: 100px;
    width: 100px;
    background-color: rgba(196, 247, 233, 0.8);
    transition: 0.7s linear;
    border-radius: 45%;
    position: absolute;
}

.cell:hover {
    background:  #ddffcb;
   
}

.glycolyx {
    border: 2px dashed #ff0000;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 45%;
}

.membrane {
    border: 3px double #ff5717;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 45%;
    display: flex;
}

.organelles { 
}

.nucleo {
    position: relative;
    border: 5px double #c586ef;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: #a056db;
    margin: auto;
}

    .nucleo::after {
        position: absolute;
        border: 1px solid #5c2581;
        content: "";
        width: 40%;
        height: 40%;
        top: 40%;
        left: 40%;
        border-radius: 50%;
        background: #8a37cc;
    }

.mitochondrion {
    width: 40px;
    height: 20px;
    background: #00ff90;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    top: 10px;
    transform: rotate(80deg);
    border: 2px solid #68b954;
}

.lysosome {
    width: 10px;
    height: 10px;
    background: #ffb136;
    border-radius: 5px;
    position: absolute;
    left: 20px;
    top: 30px;
}

.cell-info {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 100;
}

.cell-info__inner {
    background: #fff;
    padding: 15px;
    margin: auto;
    width: 500px;
    max-width: 100%;
}

.cell-grid {
    width: 100%;
    border: 0;
}

.cell-grid__label,
.cell-grid__value {
    padding: 5px 10px;
    vertical-align: top;
}

.cell-grid__label {
    width: 40%;
    text-align: right;
    font-weight: bold;
    color: #8D99AE;
}

.cell-grid__value {
    width: 60%;
}

.cell-grid__row:nth-child(2n) .cell-grid__label,
.cell-grid__row:nth-child(2n) .cell-grid__value {
    background: #eee;
}

.modal-footer {
    padding: 15px 0 0;

}

.btn--min {
    min-width: 100px;
}